In [38]:
import pandas as pd
import math
df = pd.read_csv("../merged_data/words_songs_matched_90s.csv", sep=",")

In [39]:
df = df.drop(columns=['song_id', 'artist_id'])

In [17]:
df[['word','count']].groupby('word').agg(sum).reset_index().sort_values(['count'],ascending=False)

        word   count
2107       i  386076
4347     the  356770
4958     you  315521
4413      to  199199
176      and  196701
...      ...     ...
218      aqu      31
4983             28
2363  kuinka      21
877    coraz      21
425      bir      18

[5000 rows x 2 columns]

In [18]:
df.groupby('word')['count'].transform(sum).max()

386076

In [40]:
df['max_count_in_data'] = df.groupby('word')['count'].transform(sum).max()
df['word_count_in_data'] = df.groupby('word')['count'].transform(sum)
df['tf'] = df['word_count_in_data']/df['max_count_in_data']
print('tf domain:', [df['tf'].min(),df['tf'].max()])

tf domain: [4.662294470518758e-05, 1.0]

In [41]:
df

,word,count,track_id,title,artist_name,duration,year,artist_hotttnesss,max_count_in_data,word_count_in_data,tf
0,i,15,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,386076,1.000000
1,the,24,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,356770,0.924093
2,you,1,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,315521,0.817251
3,to,19,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,199199,0.515958
4,and,16,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,196701,0.509488
...,...,...,...,...,...,...,...,...,...,...,...
3611495,quanto,1,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,179,0.000464
3611496,puoi,1,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,153,0.000396
3611497,mentr,1,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,148,0.000383
3611498,paura,1,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,131,0.000339
3611499,cambia,4,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,97,0.000251

In [42]:
df['df'] = df.groupby(['word'])['word'].transform('count')
track_count = len(df['track_id'].unique())
print(track_count)
def calIDF(df, track_count):
    return math.log2(track_count/df)
df['idf'] = df['df'].apply(calIDF, track_count=track_count)
print('df domain:', [df['df'].max(),df['df'].min()])
print('idf domain:', [df['idf'].min(),df['idf'].max()])

44913
df domain: [35423, 7]
idf domain: [0.3424466911417732, 12.647490548804845]

In [43]:
df['tfidf'] = df['tf']*df['idf']
print('tfidf domain:', [df['tfidf'].min(),df['tfidf'].max()])

tfidf domain: [0.0005896632525163108, 0.4525138953296719]

In [44]:
df

,word,count,track_id,title,artist_name,duration,year,artist_hotttnesss,max_count_in_data,word_count_in_data,tf,df,idf,tfidf
0,i,15,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,386076,1.000000,32821,0.452514,0.452514
1,the,24,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,356770,0.924093,35423,0.342447,0.316452
2,you,1,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,315521,0.817251,30965,0.536495,0.438451
3,to,19,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,199199,0.515958,33591,0.419058,0.216217
4,and,16,TRAABOA128F933684A,Our Father,Anthony B,202.4224,1999,0.446793,386076,196701,0.509488,32961,0.446373,0.227422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3611495,quanto,1,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,179,0.000464,115,8.609355,0.003992
3611496,puoi,1,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,153,0.000396,93,8.915687,0.003533
3611497,mentr,1,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,148,0.000383,94,8.900257,0.003412
3611498,paura,1,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,131,0.000339,72,9.284920,0.003150
3611499,cambia,4,TRZZYLF128F9316CAB,Non Cambiare Tu,Biagio Antonacci,264.2020,1998,0.342903,386076,97,0.000251,62,9.500649,0.002387

In [45]:
df.to_csv("../merged_data/words_songs_matched_90s_tfidf.csv", sep=",", index=False)